{% extends 'base.html' %}
{% block content %}

<h1>In between dreams</h1>
<div class='container'>
{% for dream in dreams %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ dream.title }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ dream.mood }}</li>
            </ul>
            <div class="card-body">
                <p class="card-text">{{ dream.description }}
            </div>
            <div class="card-action">
                <a href="{% url 'dreams_update' dream.id %}">Edit</a>
                <a href="{% url 'dreams_delete' dream.id %}">Delete</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}