{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7bca8a23c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Dapjeongneo</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a style="color: gold" class="navbar-brand" href="/">Dapjeongneo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav justify-content-end">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dreams_create' %}">Dream a little dream<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dreams_index' %}">In Your Dreams<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'dreamboards_create' %}">A far off dream</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'dreamboards_index' %}">A scattered memory</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/admin/">Admin</a>
                  </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In<span class="sr-only">(current)</span></a>
                  </li>
                  {% endif %}
              </ul>
            </div>
          </nav>
    </header>
    <br>
<br>

<!-- <h1>You make my dreams come true</h1> -->
<div class='circle-container'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style='text-shadow: 0 0 20px #fff, 0 0 30px gold, 0 0 40px grey, 0 0 50px grey, 0 0 60px gold, 0 0 70px goldenrod, 0 0 80px whitesmoke; font-weight: 75; color: gold; font-size: 64px; text-align: center' id='clock'></div>
<form method="post" action="">
    {% csrf_token %}
            <label>
                <input hidden type="checkbox" name="home">
                <i class='fas fa-home fa-3x' id='deg0' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" name="atom">
                <i class="fas fa-atom fa-3x" id='deg30' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" name="book">
                <i class="fas fa-book fa-3x" id='deg60' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" name="hand_holding_heart">   
                <i class="fas fa-hand-holding-heart fa-3x" id='deg90'></i>
            </label>
            <label>
                <input hidden type="checkbox" name="seedling">
                <i class="fas fa-seedling fa-3x" id='deg120' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" name="music">
                    <i class="fas fa-music fa-3x" id='deg150' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" name="tree">
                <i class="fas fa-tree fa-3x" id='deg180' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" name="crow">  
                <i class="fas fa-crow fa-3x" id='deg210' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" name="cloud_rain">
                <i class="fas fa-cloud-rain fa-3x" id='deg240' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" name="skull">
                <i class="fas fa-skull fa-3x" id='deg270' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" name="hiking">
                <i class="fas fa-hiking fa-3x" id='deg300' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" name="pen"> 
                <i class="fas fa-pen fa-3x" id='deg330' aria-hidden='true'></i>
            </label>
        <input type="submit" id='deg360' class="btn" value="Go">
    </form>
</div>
</body>
<script>
    // setTimeout(function(){ 
    //     location.reload(), 60000});
    function currentTime() {
        let date = new Date();
        let hour = date.getHours();
        let min = date.getMinutes();
        let sec = date.getSeconds();
        hour = updateTime(hour);
        if (hour > 12) {
            hour = parseInt((hour - 12))
        }
        min = updateTime(min);
        sec = updateTime(sec);
        document.getElementById("clock").innerText = hour + " : " + min + " : " + sec; 
        let t = setTimeout(function(){ currentTime() }, 1000); 
        }

function updateTime(time) {
  if (time < 10) {
    return "0" + time;
  }
  else {
    return time;
  }
}

currentTime()
</script>
</html>