{% extends 'base.html' %}
{% block content %}

<h1>You make my dreams come true</h1>
<div class='circle-container'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style='color: whitesmoke; font-size: 64px; text-align: center' id='clock'></div>
<form method="post" action="">
    {% csrf_token %}
            <label>    
                <i class='fa fa-home' id='deg0' aria-hidden='true'></i>
                <input hidden type="checkbox" id='deg0' name="one">
            </label>
            <label>
                <input hidden type="checkbox" id='deg30' name="two">
                <i class="fas fa-atom" id='deg30' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg60' name="three">
                <i class="fas fa-book" id='deg60' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg90' name="four">   
                <i class="fas fa-hand-holding-heart" id='deg90'></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg120' name="five">
                <i class="fa fa-battery-full" id='deg120' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg150' name="six">
                    <i class="fa fa-code" id='deg150' aria-hidden="true"></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg180' name="seven">
                <i class="fas fa-tree" id='deg180' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg210' name="eight">  
                <i class="fas fa-crow" id='deg210' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg240' name="nine">
                <i class="fas fa-cloud-rain" id='deg240' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg270' name="ten">
                <i class="fas fa-skull" id='deg270' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg300' name="eleven">
                <i class="fas fa-hiking" id='deg300' aria-hidden='true'></i>
            </label>
            <label>
                <input hidden type="checkbox" id='deg330' name="twelve"> 
                <i class="fas fa-pen" id='deg330' aria-hidden='true'></i>
            </label>
        <input type="submit" id='deg360' class="btn" value="Go">
    </form>
</div>

{% endblock %}