{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Dapjeongneo</title>
</head>
<body>
    <header>
        <nav>
            <div class='nav-bar'>
                {% if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'index' %}">See all the damn dreams</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'dreams_create' %}">Record a funky dream</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>