{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Dapjeongneo</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Dapjeongneo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav justify-content-end">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">In Your Dreams<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dreams_create' %}">Dream a little dream<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In<span class="sr-only">(current)</span></a>
                  </li>
                  {% endif %}
              </ul>
            </div>
          </nav>
    </header>
    {% block content %}
    {% endblock %}
    <div id="buttons">
        minutes:<br>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>10</button>
        <input id="custom" type="number">
        <button>custom</button>
    </div>
    <div id="time"></div>
    <script>
        (function() {
            var secs, timer, text,
                el = document.getElementById('time');
            document.getElementById('buttons').addEventListener('click', function(evt) {
                if (evt.srcElement === document.getElementById('custom')) return;
                this.style.display = 'none';
                secs = (evt.srcElement.innerHTML === 'custom') ?
                    parseInt(document.getElementById('custom').value) * 60 : 
                    parseInt(evt.srcElement.innerHTML) * 60;
                updateDisplay();
                timer = setInterval(function() {
                    secs--;
                    updateDisplay();
                }, 1000);
            });
            function updateDisplay() {
                if (secs === 0) {
                    clearInterval(timer);
                    text = "BAM!";
                } else {
                    text = (secs % 60) < 10 ? '0' + secs % 60 : '' + secs % 60;
                    text = Math.floor(secs / 60).toString() + ':' + text;
                }
                if (secs === 60) el.className = 'inside-minute';
                el.innerHTML = text;
            }
        })();
    </script>
</body>
</html>