body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #411687, #05367a);
    background-repeat: no-repeat;
  }

form {
  text-align: center
}

.nav-bar {
    background-color: black;
    justify-content: right;
  }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
  }

.card {
    text-align: center
  }

h1 {
      color: whitesmoke;
      text-align: center;
      padding-bottom: 20px
  }

#clock {
      color: whitesmoke;
      font-size: 64px
  }


.circle-container {
    position: relative;
    width: 30em;
    height: 30em;
    padding: 1em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    /* border: dashed 1px; */
    border-radius: 50%;
    margin: 1.75em auto 0;
}

.circle-container label {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

#deg0 { transform: translate(5em); }
#deg30 { transform: rotate(30deg) translate(5em) rotate(-30deg)}
#deg60 { transform: rotate(60deg) translate(5em) rotate(-60deg)}
#deg90 { transform: rotate(90deg) translate(5em) rotate(-90deg)}
#deg120 { transform: rotate(120deg) translate(5em) rotate(-120deg)}
#deg150 { transform: rotate(150deg) translate(5em) rotate(-150deg)}
#deg180 { transform: rotate(180deg) translate(5em) rotate(-180deg)}
#deg210 { transform: rotate(210deg) translate(5em) rotate(-210deg)}
#deg240 { transform: rotate(240deg) translate(5em) rotate(-240deg)}
#deg270 { transform: rotate(270deg) translate(5em) rotate(-270deg)}
#deg300 { transform: rotate(300deg) translate(5em) rotate(-300deg)}
#deg330 { transform: rotate(330deg) translate(5em) rotate(-330deg)}

#deg360 { 
    background-color: whitesmoke;
    text-align: center;
    height: 2.4em;
    justify-self: center;
    /* width: 12em; */
}

#deg360:hover {
    background-color: grey;
    color: whitesmoke;
    box-shadow: black;
}

i:checked {
  background-color: whitesmoke;
  color: red
}