{% extends 'base.html' %}
{% block content %}

<h1>Dream Log</h1>
<div class='container'>    
    {% for dreamboard in dreamboards %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ dreamboard }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ dreamboard.id.dreamboard }}</h6>
            <a href="/dreamboards/create/" class="card-link">Add a new dream</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}