{% extends 'base.html' %}
{% block content %}

<h1>Dream Log</h1>
{% if dreamboards %}
<div class='container'>    
    {% for dreamboard in new_dreamboards %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            {% comment %} {{ dreamboard }} {% endcomment %}
            <p>DREAM</p>
            <h5 class="card-title">{{ dreamboard.id }}</h5>
            {% for item in dreamboard.list %}
                <p>{{ item }}</p>
            {% endfor %}
            <h6 class="card-subtitle mb-2 text-muted">{{ new_dreamboards.new_dreamboards }}</h6>
            <a href="/dreamboards/create/" class="card-link">Add a new dream</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class='container'>
    <h1 style='color:whitesmoke'>Record a dream</h1>
</div>
{% endblock %}